.bg-dark {
    background-color: #333;
    color: #fff;
    padding: 15px;
}

/* Estilo para la imagen */
img {
    width: 50px;
    margin-right: 10px;
}

/* Estilo para el botón */
.btn-primary {
    background-color: #007BFF;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
}

.btn-primary:hover {
    background-color: #0056b3;
}