/* Estilo para el encabezado */
.header {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}

/* Estilo para el pie de página (footer) */
.footer {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
}