@import '~@angular/material/prebuilt-themes/indigo-pink.css';

/* Estilos para MovieListComponent */
.movie-list {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 16px;
    padding: 16px;
    overflow-y: auto; /* Agrega una barra de desplazamiento vertical si es necesario */
  }
  
  /* Estilos para las tarjetas de película */
  .movie-card {
    flex: 0 0 calc(25% - 100%px); /* Ancho de las tarjetas (25% del contenedor) */
    margin-bottom: 16px;
    position: relative;
    overflow: hidden;
  }
  
  /* Estilos para la imagen de la película */
  .movie-image-container {
    position: relative;
    overflow: hidden;
  }
  
  .movie-image {
    max-width: 100%;
    height: auto;
    transition: transform 0.2s;
  }
  
  /* Estilos para la superposición de descripción */
  .movie-description-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
    color: #fff;
    text-align: center;
    padding: 16px;
    transform: translateY(100%); /* Inicialmente, oculto fuera de la imagen */
    transition: transform 0.2s;
    font-size: 16px; /* Tamaño del texto igual al tamaño de la imagen */
  }
  
  .movie-card:hover .movie-description-overlay {
    transform: translateY(0); /* Muestra la descripción al pasar el mouse */
  }
  
  