<div class="movie-list">
    <div class="movie-card" *ngFor="let movie of movies">
      <div class="movie-image-container" (click)="showMovieDetails(movie.mal_id)">
        <img class="movie-image" [src]="movie.images.jpg.image_url" alt="{{ movie.title }}">
        <div class="movie-description-overlay">
          <h3>{{ movie.title }}</h3>
          <p>{{ movie.synopsis }}</p>
        </div>
      </div>
    </div>
  </div>
  