body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

.container-fluid {
  background-color: #434343;
  color: #fff;
  padding: 15px;
  flex: 1; /* Rellena el espacio disponible */
}

.movie-container {
  overflow: auto; /* Agrega una barra de desplazamiento si es necesario */
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 5px;
  text-align: center;
}
