<body>
    <app-navigation></app-navigation>
    <div class="container-fluid movie-container">
      <router-outlet></router-outlet>
    </div>
    <div class="footer">
      <app-footer></app-footer>
    </div>
  </body>